﻿@model IEnumerable<MVCMusicStore.Models.Album>

@{
    ViewBag.Title = "Index";
}

<h1>Here is the list of albums</h1>

@foreach (var item in Model)
{
    <ul>
        <li>@Html.ActionLink(item.Title, "Details", new { id = item.AlbumId })</li>
    </ul>
}

@Html.ActionLink("Back to Browse", "Browse")