@{
    ViewBag.Title = "About";
}
<header>Welcome to XYZ Store</header>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<footer>
    <p>&copy; @DateTime.Now.Year - Copyright of XYZ Store</p>
</footer>